@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: "Bogart";
  src: url(/fonts/Bogart-Bold-trial.ttf);
}
body {
  font-family: sans-serif;
  background-color: #f9c5d5;
  color: white;
  
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

h1, h2 {
  font-family: "Bogart";
}

p {
  font-family: "Montserrat", sans-serif;
}

.number-font {
  font-family: "Montserrat", sans-serif;
}